body {
    width:980px;
    margin:0 auto;
    }
    #header {
    height:50px;
    background-color:#ff9a47;
    font-size: 25px;
    text-align: center;
    }
    #search {
    height:100px;
    background-color:#ffc3a0;
    margin-top:10px;
    }
    .search-area {
      width: 700px;
      margin: 10px auto;
    }
    .search-area select {
      padding: 4px;
      vertical-align: middle;
    }






    #deta { 
    min-height:200px;
    height:auto; 
    background-color:#ffd0b5;
    margin-top:10px;
    }
    #deta th,#deta td{
      padding: 0 4px;
      border: 1px solid #CCC;
    }




    table{
        width: 100%;
      }
      
    table th,table td{
        padding: 10px 0;
        text-align: center;
    }      
    thead{
        background-color: #eee
      }
    tbody{
      
    }

     

    #footer { 
    height:100px;
    background-color:#ffb560;
    margin-top:10px;
    }